/*****************************SELECTOR TAGS******************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

p {
  color: #40514E
  }

hr {
  border-style: dotted none none;
  width: 5%;
  border-width: 0.6rem;
  color: #EAF6F6;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*****************************CLASS TAGS******************************/
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 150px;

}

.profile-description {
  width: 50%;
  margin: 50px auto;
  line-height: 2;
}

.middle-container {
  padding-top: 50px;

}

.bottom-container {
background-color: #66BFBF;
padding-top: 50px;
padding-bottom: 50px;
}

.learning {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 100px;
  right: 400px;
}

.skill-row-animal {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row-snake {
  width: 50%;
  margin: 100px auto;
  text-align: right;
  line-height: 2;
}

.animal-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.snake-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.copyright {
padding-top: 50px;
  color: #EAF6F6;
}

.footer-link {
  padding: 0 20px;
}

.contact-me {
  margin-bottom: 50px;
}

.btn {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
color: #FFFFFF;
font-family: "Montserrat";
font-size: 20px;
font-weight: bold;
padding: 20px;
background-color: #66BFBF;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
}
